// Typography ------------- //

$font-heavy: 'heavy';

$base-line-height: 5;
$h1-font-size: 14;
$h3-font-size: 9;
$h4-font-size: 5;

// Colors ------------- //

$color-brand: 'primary-vivid';
$color-brand-tint: 'primary-light';
$color-brand-light: 'primary-lighter';
$color-brand-medium: 'accent-cool';
$color-brand-dark: 'primary';
$color-brand-dark-hover: 'primary-dark';
$color-brand-dark-active: 'primary-darker';
$color-white: 'white';
$color-base: 'ink';
$color-primary-darker: 'secondary-dark';
$color-primary-darkest: 'secondary-dark';

// Magic numbers ------- //

$nav-width: 'tablet-lg';
$display-kerning: 'ls-neg-1';