# Site settings
title: Office of Evaluation Sciences
description: The Office of Evaluation Sciences (OES) is an interdisciplinary team that works across the federal government to help agencies build and use evidence. OES partners with federal agencies to answer priority questions with rigorous evaluation methods and administrative data. We design and conduct evaluations of existing programs and evidence-based program changes.
url: "https://oes.gsa.gov" # the base hostname & protocol for your site
logo: /assets/img/logos/logo-name.png
feature_image: /assets/img/logos/logo-name.png
permalink: pretty

# Site theme
theme: uswds-jekyll

# Styles
# styles:
#   - /assets/css/main.css

# Collections
collections:
  projects:
    output: true
  team:
    output: true
  collaborations:
    output: true
  portfolios:
    output: true
  blog:
    output: true
  about:
    output: true
  work:
    output: true
  resources:
    output: true
  connect:
    output: true


defaults:
  - scope:
      path: ''
      type: projects
    values:
      layout: project-single
  - scope:
      path: ''
      type: team
    values:
      layout: team-single
  - scope:
      path: ''
      type: collaborations
    values:
      layout: collaboration-single
  - scope:
      path: ''
      type: blog
    values:
      layout: page
  - scope:
      path: ''
      type: portfolios
    values:
      layout: portfolio
  - scope:
      path: ''
      type: about
    values:
      layout: page
  - scope:
      path: ''
      type: work
    values:
      layout: page
  - scope:
      path: ''
      type: resources
    values:
      layout: page
  - scope:
      path: ''
      type: connect
    values:
      layout: page


colors:
  primary: '#0071bc'

# Google Analytics and DAP
analytics:
  google:
    code: 'UA-67580537-1'
  dap:
    agency: GSA
    subagency: OES

# Search.gov configuration
search_site_handle: oes.gsa.gov

footer:
  image: /assets/img/icons/gsa-logo.svg
  email: oes@gsa.gov
  twitter:
    - oesatgsa
  text:

forms:
- type: newsletter
  privacypolicy:
    name: GSA Privacy and Security Notice
    url: https://gsa.gov
  fields:
    - type: hidden
      name: fbzx
      value: -7861934959779167198

# jekyll plugins
plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap

plugins_dir: ./_plugins

# Build settings
include:
  - _navigation.json
exclude:
  - CONTRIBUTING.md
  - LICENSE.md
  - README.md
  - Gemfile
  - Gemfile.lock
