---
title: National School Lunch Program Eligibility Verification
permalink: /projects/nslp-rolling-verification/
tags: project
image: /assets/img/project-images/school-lunch.jpg
image-credit: https://www.flickr.com/photos/usdagov/
abstract: /assets/abstracts/1612-2-nslp-rolling-verification.pdf
year: 2017
status: Complete
domain: Economic Opportunity
agency: Agriculture
summary: Timely communication with beneficiaries has mixed effects on response rates.
---
## What was the challenge?

The National School Lunch Program (NSLP) is a Federally-assisted meal program operating in over 100,000 public and nonprofit private schools and residential child care institutions. Some NSLP-eligible households do not respond to requests to provide proof of eligibility and therefore lose access to the program.

## What was the program change?

USDA’s Food and Nutrition Service (FNS) and OES modified the letter requesting information for verification and the timing of that letter. The verification letter itself was simplified and personalized to each household. The timing of the letters was modified such that they were sent in weekly batches on a rolling basis, so that (i) letter recipients would more readily associate the verification request with their recent application for NSLP and (ii) the more spread-out pace of verifications reduced administrative burden and allowed district staff to pursue each case.

## How did the evaluation work?

In four districts — Broward County, FL; Los Angeles Unified School District (USD), CA; San Diego USD, CA; and Prince George’s County, MD — the verification sample was split at random so that half of the sampled households were sent a letter soon after applying (rolling verification), while the other half received their letter after October 1st (business-as-usual verification). Response rates for the two groups were compared.

## What was the impact?

Introducing rolling verification had mixed results. Across the four districts combined, the difference in response rates between the rolling verification and business-as-usual groups was not statistically significant.
