---
title: Decreasing Non-responses to NSLP Income Verification Requests
permalink: /projects/nslp-income-verification/
tags: project
image: /assets/img/project-images/school-lunch.jpg
image-credit: https://www.flickr.com/photos/usdagov/
abstract: /assets/abstracts/1612-National-School-Lunch-Program-Verification.pdf
year: 2016
type: Program Change and Evaluation
status: Complete
domain: Economic Opportunity
agency: Agriculture
impact:
summary: Simplifying the income verification letter for National School Lunch Program recipients increased response rate by 2.1%.
---
## What was the challenge?

The National School Lunch Program (NSLP) is a Federally-assisted meal program operating in over 100,000 public and nonprofit private schools and residential child care institutions. Prior studies have demonstrated that some NSLP-eligible households do not respond to requests to provide proof of eligibility due to confusing procedures and instructions, not because they do not have the documentation.

## What was the program change?

To make the request for verification clearer and easier to understand, OES designed a new request letter that used simpler language, pictures meant to cue an association with NSLP, a new visual summary of materials the household was required to submit, and a personalized message from Local Education Agencies (LEA).

## How did the evaluation work?

Ultimately it was impossible to implement each of the planned changes at once, since the verification procedure is independently carried about by each of the nearly 20,000 LEAs across the country. Revised letters were used in 74 LEAs across the country, balanced by 82 LEAs that were randomly paired with the pilot LEAs but were not asked to revise their letters.

## What was the impact?

Using a difference-in-difference estimator, we estimate that the new letters increased response by 2.1%, though this is imprecisely estimated.
