// Custom styles --------- //
.usa-nav-primary {
  button[aria-expanded='true'] {
    background-color: $color-primary-darker;

    span {
      border-bottom-color: $oem-green;
    }

    &:hover {
      background-color: $color-primary-darker;

      span {
        color: #fff;
      }
    }
  }

  .usa-nav-submenu {
    background-color: $color-primary-darker;

    a:hover {
      background-color: $oem-green;
    }
  }
}

.download-button-icon:before {
  content: url(../toolkits/download_icon_blue.jpg);
  vertical-align: middle;
}
