@import 'settings/uswds-theme-color';
@import 'settings/uswds-theme-components';
@import 'settings/uswds-theme-general';
@import 'settings/uswds-theme-spacing';
@import 'settings/uswds-theme-typography';
@import 'settings/uswds-theme-utilities';

$focus-shadow: 0 0 0 1px color("primary");