$nav-width: 860px;

$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-sans: "Lato", $helvetica; // note: should this be $font-body?
$font-serif: "Lato", $helvetica; // note: should this be $font-headings?