$nav-width: 892px;

$base-font-size: 1.8rem;

$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-sans: "Lato", $helvetica; // note: should this be $font-body?

$color-brand: #2FCFC4;
$color-brand-tint: #94B8B4;
$color-brand-light: #F2FBFA;
$color-brand-medium: #205493;
$color-brand-dark: #38756F;