.arp-footer {
  .logo-texts {
    @include u-font("alt", "2xs");
    margin: units(2) 0 0 units(2);
    max-width: 309px;
  }
}
.arp-back-to-top-btn {
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
}

.arp-header-bgc {
  background-color: #f7f9fa !important;
}

.arp-header-borders {
  border-top: 1px solid #ccd8e2;
}
.arp-header {
  [x-cloak] {
    display: none !important;
  }
  * {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans;
  }
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  .header-logo {
    img {
      width: 100%;
      max-width: 220px;
      @media (max-width: 940px) {
        max-width: 190px;
      }
    }
  }

  .arp-header-menu-container {
    position: relative;
    display: flex;
    height: 100px;
    .mobile-menu-button {
      display: none;
      border: none;
      outline: none;
      background: none;
      margin: 0 20px 0 0;
      padding: 0;
      font-size: 30px;
      @media (max-width: 768px) {
        display: block;
      }
      .svg-span-container {
        display: flex;
        align-items: center;
        img {
          width: 20px;
        }
      }
    }
    .arp-header-menu {
      a {
        outline: none;
      }
      display: flex;
      justify-content: space-between;
      align-self: stretch;
      align-items: end;
      margin: 0 20px;
      @media (max-width: 768px) {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10000;
        background: white;
        margin: 0;
        align-items: start;
        width: 60vw;
        min-width: 300px;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
        padding-top: 10px;
        .menu-item {
          > a {
            padding: 10px 20px 0 20px !important;
          }
        }
      }
      .menu-item {
        position: relative;
        > a {
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          color: #414042;
          text-decoration: none;
          position: relative;
          padding: 10px 10px 0 10px;
          cursor: pointer;
          display: block;
          &.opened-menu-item {
            background-color: #d3eaf2;
            .bottom-border {
              visibility: hidden !important;
            }
          }
          .menu-item-label {
            display: flex;
            align-items: center;
            gap: 5px;
          }
          .bottom-border {
            height: 5px;
            background-color: #19677f;
            margin-top: 20px;
            visibility: hidden;
          }
          &:hover {
            .bottom-border {
              visibility: visible;
            }
          }
        }

        .submenu,
        .sub-submenu {
          position: absolute;
          margin: 0;
          list-style: none;
          min-width: 250px;
          z-index: 1000;
          padding: 0;
          a {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            display: block;
            text-decoration: none;
            padding: 10px 20px;
          }
          @media (max-width: 768px) {
            position: relative !important;
            left: 0 !important;
            top: unset !important;
          }
        }
        .submenu {
          left: 0;
          background-color: #d3eaf2;
          z-index: 1100;
          a {
            color: #414042;
            &:visited {
              color: #414042;
            }
          }
        }
        .sub-submenu {
          left: 100%;
          top: 0;
          display: none;
          min-height: 100%;
          background-color: #f7f9fa;
          a {
            font-size: 12px;
            line-height: 18px;
            color: #19677f;
            &:visited {
              color: #19677f;
            }
            text-decoration: underline;
          }
        }

        .submenu-item {
          &:hover > a {
            background-color: #f7f9fa;
            color: #171717;
          }
          &:hover > .sub-submenu {
            display: block;
          }
        }
      }
    }
  }
}

.arp-base {
  * {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans;
  }

  .page-update-date {
    font-size: 14px;
    line-height: 26px;
    color: #414042;
    margin: 80px 0 30px 0;
  }

  .arp-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  .grid-item {
    background-color: white;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-3px);
    }
    &:visited {
      color: #19677f;
    }
    cursor: pointer;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    .grid-item-texts {
      padding: 20px 30px 40px 30px;
      display: flex;
      flex-direction: column;
      flex: 1;
      .grid-item-description-text {
        flex: 1;
      }
    }

    .grid-item-read-more {
      text-decoration: underline;
    }
  }

  .arp-home {
    .usa-hero {
      .arp-hero-callout {
        background-color: #19677f;
        padding: 30px;
        color: white;
      }
      .right-callout {
        background-color: #074b69;
        margin: 30px 0;
        display: flex;
        align-items: center;
      }

      .grid-container {
        display: flex;

        @media (max-width: 768px) {
          flex-direction: column;
          .right-callout {
            margin: 0;
          }
        }
      }

      a {
        color: #074b69;
        border-radius: 5px;
        background-color: #f1f5f9;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
        display: inline-block;
      }
    }

    .arp-explore-findings-card {
      box-shadow: 0 4px 20px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
      padding: 40px 30px;
      margin: 30px 0;

      h2 {
        color: #19677f;
        font-size: 24px;
        line-height: 28px;
      }

      a {
        color: #19677f;
        font-size: 16px;
        line-height: 25px;
      }

      .learn-more-anchor {
        font-weight: bold;
      }

      .arp-card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        img {
          width: 100%;
          max-width: 350px;
          @media (max-width: 768px) {
            max-width: unset;
          }
        }

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }
      }

      @media (max-width: 480px) {
        padding: 20px;
        margin: 20px 0;

        h2 {
          font-size: 20px;
          line-height: 24px;
        }

        a {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .recent-news {
      padding: 60px 0 150px 0;

      h1 {
        font-size: 40px;
        line-height: 48px;
        color: #19677f;
      }
      .reports-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 40px 0 0 0;
      }
      .report-item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 0 30px 0;
        &:not(:last-child) {
          border-bottom: 1px solid #e0e0e0;
        }
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
        p {
          color: #333;
          font-size: 16px;
          line-height: 26px;
          margin: 0;
          max-width: unset;
        }
        &.item-without-image {
          flex-direction: column;
          align-items: flex-start;
          gap: unset;
        }
      }
      .report-title {
        color: #19677f;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        margin: 0 0 10px 0;
        display: block;
      }

      @media (max-width: 480px) {
        .report-item {
          flex-direction: column;
          img {
            width: 100%;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .arp-page {
    border-top: 1px solid #ccd8e2;

    p {
      max-width: unset;
    }
    .intro-section {
      h1 {
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        color: #19677f;
        border-bottom: 2px solid #f2c446;
        padding: 0 0 20px 10px;
        margin: 60px 0 40px 0;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        a {
          color: #074b69;
        }
      }
    }
    .about-accordions {
      margin: 50px 0 0 0;
      .about-accordion {
        margin: 20px 0;

        .about-tables {
          overflow: auto;

          table {
            min-width: 600px;
            td {
              vertical-align: top;
              border: none;
            }
            th {
              background-color: unset;
              border: none;
            }
            th:nth-child(2),
            td:nth-child(2) {
              max-width: 400px;
            }
            tr {
              border-bottom: 1px solid #d9e8f6;
            }
          }
        }
      }

      .accordion-header {
        background-color: #d3eaf2;
        width: 100%;
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
        color: #19677f;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        cursor: pointer;
      }

      .accordion-content {
        background-color: #f7f9fa;
        padding: 10px 20px;
      }
    }

    &.programs-and-studies {
      .intro-section {
        ul {
          li {
            font-size: 16px;
            line-height: 26px;
            color: #1b1b1b;
          }
        }
        .programs-intro {
          display: flex;
          gap: 20px;
          @media (max-width: 600px) {
            display: unset;
          }
          .side-box {
            background-color: #edf8fc;
            padding: 30px;
            min-width: 220px;
            @media (max-width: 600px) {
              margin-top: 30px;
            }
          }
        }
      }
      .grid-heading {
        font-size: 24px;
        line-height: 28px;
        color: #19677f;
        padding: 0 0 0 10px;
        margin: 50px 0 40px 0;
      }
    }

    &.arp-program-topic {
      .topic-intro {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 600px) {
          display: unset;
          .intro-text {
            margin-top: 20px;
          }
          img {
            margin: auto;
            display: block;
          }
        }
      }

      .program-topic-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 768px) {
          grid-template-columns: 1fr;
        }
        gap: 40px;
        .program-item {
          display: flex;
          align-items: center;
          text-decoration: none;
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
          }
          h3 {
            font-size: 20px;
            line-height: 1.2;
            color: #19677f;
          }
          p {
            margin: 5px 0 0 0;
            font-size: 14px;
            color: #414042;
          }
        }
      }
    }

    &.arp-single-program {
      .topic-area-label {
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        background-color: #f2c446;
        display: inline-block;
        padding: 2px 10px;
        margin: 40px 0 0 0;
      }
      h2 {
        margin: 50px 0 30px 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 26px;
        color: #19677f;
      }
      .evaluation-container {
        box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -2px rgba(0, 0, 0, 0.1);
        padding: 25px 30px;
        margin: 0 0 30px 0;
        h3 {
          font-weight: bold;
          font-size: 24px;
          line-height: 26px;
          color: #19677f;
        }
        .evaluators {
          font-size: 14px;
          line-height: 26px;
          color: #414042;
        }
        .evaluation-details {
          font-size: 16px;
          line-height: 26px;
          color: #414042;
        }
        .evaluation-type-label {
          font-weight: bold;
          font-size: 14px;
          line-height: 26px;
          background-color: #f2c446;
          display: inline-block;
          padding: 2px 10px;
          margin: 20px 0 0 0;
        }
      }

      .documents-box {
        display: flex;
        @media (max-width: 780px) {
          display: unset;
        }
        justify-content: space-between;
        gap: 10px;
        .document-cat-wrapper {
          width: 100%;
          max-width: 250px;
          @media (max-width: 780px) {
            max-width: unset;
          }
        }
        .document-category {
          text-align: center;
          border-top: 2px solid #d8d8d8;
          border-bottom: 2px solid #d8d8d8;
          @media (max-width: 780px) {
            border: none;
          }
          padding: 30px 0;
          h3 {
            font-weight: bold;
            font-size: 21px;
            line-height: 26px;
            color: #19677f;
          }
          .document-icon {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 20px;
            object-fit: cover;
          }
          .accordion-toggle {
            background-color: #f1c40f;
            padding: 10px;
            color: #333;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .svg-span-container {
              display: flex;
              align-items: center;
              img {
                width: 10px;
              }
            }
          }
          .document-list {
            margin-top: 10px;
            padding: 0 0 0 10px;
            text-align: left;
            .document-item {
              margin: 5px 0;
              a {
                color: #19677f;
                font-size: 16px;
                line-height: 26px;
              }
              img {
                margin-left: 5px;
              }
            }
          }
        }
      }
    }

    &.arp-single-study {
      .study-section {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 800px) {
          display: unset;
        }
        .study-info-box {
          background-color: #edf8fc;
          min-width: 300px;
          padding: 1px 30px 40px 30px;
          h4 {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            color: #19677f;
            margin: 30px 0 5px 0;
          }
          p {
            margin: 0;
          }
          a {
            display: inline-block;
            border-radius: 5px;
            background-color: #19677f;
            color: white;
            text-decoration: none;
            padding: 10px;
            margin: 5px 0;
          }
        }
        .study-details {
          @media (max-width: 800px) {
            margin: 20px 0 0 0;
          }
          h2 {
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            color: #19677f;
          }
          table {
            * {
              font-size: 16px;
              line-height: 26px;
              border: none;
            }
            tr {
              border-bottom: 2px solid black;
            }
            th {
              background-color: transparent;
            }
          }
        }
      }
    }

    &.arp-docs-and-data-sources {
      margin: 0 0 100px 0;
      .filter-and-results {
        display: flex;
        @media (max-width: 600px) {
          display: block;
        }
        gap: 40px;

        .doc-data-filters {
          width: 280px;
          @media (max-width: 600px) {
            width: 100%;
          }
          .filter-reset-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #074b69;
            padding: 0 5px 15px 5px;
            h2 {
              font-size: 18px;
              line-height: 26px;
              color: #414042;
              font-weight: normal;
            }
            button {
              border: none;
              padding: 0;
              outline: none;
              margin: 0;
              background-color: transparent;
              font-size: 18px;
              line-height: 26px;
              color: #19677f;
              font-weight: bold;
              cursor: pointer;
            }
          }

          .accordion {
            .accordion-item {
              border-bottom: 1px solid #19677f;
              padding: 15px 5px;
              .filter-with-tooltip {
                display: flex;
                gap: 5px;
                align-items: center;
                .tooltip-container {
                  position: relative;
                  display: flex;
                  align-items: center;
                  img {
                    width: 16px;
                  }
                  .tooltip-box {
                    min-width: 300px;
                    background-color: white;
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #414042;
                    font-weight: normal;
                    padding: 10px;
                    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1),
                      0 2px 4px -2px rgba(0, 0, 0, 0.1);
                  }
                }
              }

              h3 {
                font-weight: bold;
                font-size: 18px;
                line-height: 26px;
                color: #19677f;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                  width: 25px;
                }
              }
              .filter-groups {
                margin: 20px 0;
                * {
                  color: #171717;
                }
                label {
                  display: flex;
                  gap: 10px;
                  margin: 15px 0;
                }
                input[type="checkbox"] {
                  width: 20px;
                  height: 20px;
                  flex-shrink: 0;
                  line-height: 20px;
                  outline: none;
                }
                input[type="checkbox"]:checked {
                  accent-color: #19677f;
                }
                .show-more-btn {
                  background: none;
                  border: none;
                  cursor: pointer;
                  margin-top: 30px;
                  width: 100%;
                  display: flex;
                  justify-content: end;
                  align-items: center;
                  gap: 5px;
                  span {
                    color: #19677f;
                    font-size: 14px;
                    line-height: 26px;
                    font-weight: bold;
                  }
                  img {
                    width: 20px;
                  }
                }
                .date-picker-group {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  input[type="date"] {
                    max-width: 120px;
                    border: none;
                    border-bottom: 2px solid #19677f;
                    background-color: #f1f5f9;
                    height: 30px;
                    font-size: 16px;
                    line-height: 16px;
                    color: #71767a;
                    text-align: center;
                  }
                }
              }
            }
          }
        }

        .doc-data-results {
          margin: 40px 0 0 0;
          flex: 1;
          .doc-item {
            box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -2px rgba(0, 0, 0, 0.1);
            padding: 30px;
            margin: 0 0 20px 0;
            * {
              color: #414042;
            }
            h2 {
              font-weight: bold;
              font-size: 24px;
              line-height: 26px;
              color: #19677f;
            }
            .program-name {
              font-size: 18px;
              line-height: 26px;
              font-style: italic;
            }
            .author-name {
              font-size: 14px;
              line-height: 26px;
            }
            .description {
              font-size: 16px;
              line-height: 26px;
            }
            .date-and-type {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 14px;
              line-height: 26px;
              margin: 30px 0 0 0;
              .file-type {
                display: block;
                color: black;
                background-color: #f2c446;
                text-transform: uppercase;
                padding: 0 10px;
              }
            }
          }

          .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            gap: 5px;
            .page-buttons {
              background-color: white;
              color: #074b69;
              border: 1px solid #c9c9c9;
              border-radius: 3px;
              padding: 0;
              margin: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 35px;
              width: 35px;
              font-size: 16px;
              line-height: 16px;
              cursor: pointer;
              outline: none;
              &.active {
                background-color: #074b69;
                color: white;
                border-color: #074b69;
              }
              &:hover:not(.active) {
                background-color: #f0f0f0;
              }
            }
            .page-turner {
              margin: 0 20px;
              border: none;
              padding: 0;
              background-color: transparent;
              font-size: 16px;
              line-height: 26px;
              color: #074b69;
              outline: none;
              cursor: pointer;
              text-decoration: underline;
              display: flex;
              align-items: center;
              gap: 5px;
              img {
                width: 6px;
                transform: translateY(1px);
              }
            }
          }
        }
      }
    }

    &.arp-dashboard {
      .type-tabs {
        margin: 50px 0 0 0;
        position: relative;
        background-color: #d3eaf2;
        height: 48px;
        .type-tab-buttons {
          position: absolute;
          bottom: 0;
          left: 20px;
          display: flex;
          button {
            background-color: transparent;
            color: #19677f;
            border: none;
            margin: 0;
            padding: 25px 25px 15px 25px;
            outline: none;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            &.selected {
              background-color: #19677f;
              color: white;
            }
          }
        }
      }

      .viz-and-table-container {
        background-color: #f6f8f9;
        padding: 30px;
        h2 {
          color: #19677f;
          font-size: 20px;
          font-weight: 700;
        }
        .viz-and-table {
          background-color: white;
          padding: 30px;
          margin: 30px 0 0 0;
          .program-table {
            overflow: auto;
            max-height: 600px;
          }
        }
      }
    }
  }
}
