.arp-footer {
  .logo-texts {
    @include u-font("alt", "2xs");
    margin: units(2) 0 0 units(2);
    max-width: 309px;
  }
}
.arp-back-to-top-btn {
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
}

.arp-header-bgc {
  background-color: #f7f9fa !important;
}

.arp-header-borders {
  border-top: 1px solid #ccd8e2;
}
.arp-header {
  * {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans;
  }
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  min-height: 100px;

  .arp-header-menu {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: end;
    margin: 0 20px;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .menu-item {
      position: relative;
      > a {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #414042;
        text-decoration: none;
        position: relative;
        padding: 10px 10px 0 10px;
        cursor: pointer;
        display: block;
        &.opened-menu-item {
          background-color: #19677f;
          color: white;
        }
        .menu-item-label {
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .bottom-border {
          height: 5px;
          background-color: #19677f;
          margin-top: 20px;
          visibility: hidden;
        }
        &:hover {
          .bottom-border {
            visibility: visible;
          }
        }
      }

      .submenu,
      .sub-submenu {
        position: absolute;
        margin: 0;
        list-style: none;
        min-width: 250px;
        z-index: 1000;
        padding: 0;
        a {
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          display: block;
          text-decoration: none;
          padding: 10px;
        }
        @media (max-width: 768px) {
          position: relative !important;
          left: 0 !important;
          top: unset !important;
        }
      }
      .submenu {
        left: 0;
        background-color: #19677f;
        z-index: 1100;
        a {
          color: white;
        }
      }
      .sub-submenu {
        left: 100%;
        top: 0;
        display: none;
        background-color: #d3eaf2;
        a {
          color: #19677f;
          text-decoration: underline;
        }
      }

      .submenu-item {
        &:hover > a {
          background-color: #d3eaf2;
          color: #171717;
        }
        &:hover > .sub-submenu {
          display: block;
        }
      }
    }
  }
}

.arp-base {
  * {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans;
  }

  .page-update-date {
    font-size: 14px;
    line-height: 26px;
    color: #414042;
    margin: 80px 0 30px 0;
  }

  .arp-home {
    .usa-hero {
      .arp-hero-callout {
        background-color: #19677f;
        padding: 30px;
        color: white;
      }
      .right-callout {
        background-color: #074b69;
        margin: 30px 0;
      }

      .grid-container {
        display: flex;

        @media (max-width: 768px) {
          flex-direction: column;
          .right-callout {
            margin: 0;
          }
        }
      }

      a {
        color: #074b69;
        border-radius: 5px;
        background-color: #f1f5f9;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
        display: inline-block;
      }
    }

    .arp-explore-findings-card {
      box-shadow: 0 4px 20px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
      padding: 40px 30px;
      margin: 30px 0;

      h2 {
        color: #19677f;
        font-size: 24px;
        line-height: 28px;
      }

      a {
        color: #19677f;
        font-size: 16px;
        line-height: 25px;
      }

      .learn-more-anchor {
        font-weight: bold;
      }

      .arp-card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        img {
          width: 100%;
          max-width: 350px;
          @media (max-width: 768px) {
            max-width: unset;
          }
        }

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }
      }

      @media (max-width: 480px) {
        padding: 20px;
        margin: 20px 0;

        h2 {
          font-size: 20px;
          line-height: 24px;
        }

        a {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .topic-areas {
      .arp-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        @media (max-width: 768px) {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        @media (max-width: 480px) {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
      }

      .grid-item {
        background-color: white;
        text-align: left;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        &:hover {
          transform: translateY(-3px);
        }
        cursor: pointer;
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        flex-direction: column;

        .grid-item-texts {
          padding: 20px 30px 40px 30px;
          display: flex;
          flex-direction: column;
          flex: 1;
          .grid-item-description-text {
            flex: 1;
          }
        }

        .grid-item-read-more {
          text-decoration: underline;
        }
      }
    }

    .recent-news {
      padding: 60px 0 150px 0;

      h1 {
        font-size: 40px;
        line-height: 48px;
        color: #19677f;
      }
      .reports-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 40px 0 0 0;
      }
      .report-item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 0 30px 0;
        &:not(:last-child) {
          border-bottom: 1px solid #e0e0e0;
        }
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
        p {
          color: #333;
          font-size: 16px;
          line-height: 26px;
          margin: 0;
          max-width: unset;
        }
        &.item-without-image {
          flex-direction: column;
          align-items: flex-start;
          gap: unset;
        }
      }
      .report-title {
        color: #19677f;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        margin: 0 0 10px 0;
        display: block;
      }

      @media (max-width: 480px) {
        .report-item {
          flex-direction: column;
          img {
            width: 100%;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .arp-about {
    border-top: 1px solid #ccd8e2;

    p {
      max-width: unset;
    }
    .intro-section {
      h1 {
        font-weight: bold;
        font-size: 40;
        line-height: 48px;
        color: #19677f;
        border-bottom: 2px solid #f2c446;
        padding: 0 0 20px 10px;
        margin: 60px 0 40px 0;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        a {
          color: #074b69;
        }
      }
    }
    .about-accordions {
      margin: 50px 0 0 0;
      .about-accordion {
        margin: 20px 0;

        .about-tables {
          overflow: auto;
        }

        table {
          min-width: 600px;
          td {
            vertical-align: top;
            border: none;
          }
          th {
            background-color: unset;
            border: none;
          }
          tr {
            border-bottom: 1px solid #d9e8f6;
          }
        }
      }

      .accordion-header {
        background-color: #d3eaf2;
        width: 100%;
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
        color: #19677f;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        cursor: pointer;
      }

      .accordion-content {
        background-color: #f7f9fa;
        padding: 10px 20px;
      }
    }
  }
}
