/* custom stylesheets all need core if using vars and mixins */
@use "uswds-core" as *;
@use "../core/variables" as *;

.project-container {
  @include at-media($medium-screen) {
    display: flex;
    flex-wrap: wrap;
    width: 102.5%;
  }
}