// Team ------------- //

// Mixins
@mixin image-circle($width) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: circle(($width / 2) at center);
  height: $width;
  width: $width;
}

.page-team {
  .usa-graphic-list {
    .usa-media-block {
      margin-top: units(4);
    }

    .usa-graphic-list__heading {
      margin-top: 0;

      & + p {
        margin-top: units(1);
      }
    }
  }
}

.team-image {
  @include image-circle(124px);
}

.page-team-single {
  .team-image {
    @include image-circle(270px);
  }
}