.project-library {
  @include media($medium-screen) {
    display: flex;
    flex-wrap: wrap;
    width: 102.5%;
  }
}

.library-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
