---
# Only the main Sass file needs front matter (the dashes are enough)
---

// set your variables or @import them here.

// at the very least, you should set the USWDS font and image paths
// to the correct paths relative to assets/main.css, like so:
$font-path: '../uswds/fonts';
$image-path: '../uswds/img';
$logo-url: "{{ site.baseurl }}{{ site.logo }}";

@import 'uswds/all';
@import 'all';
