// Accordion ------------- //
.usa-accordion__heading .usa-accordion__button[aria-expanded="false"] {

}
.usa-accordion__heading {
  position: relative;
  .usa-accordion__button {
    .toggle {
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      height: 16px;
      width: 16px;
      transform: translate(0, -50%);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 0;
    }
    &[aria-expanded="false"] {
      background-image: unset;
      .close {
        display: none;
      }
    }
    &[aria-expanded="true"] {
      background-image: unset;
      .open {
        display: none;
      }
    }
  }
}