// Project card ------------- //

// Sets a height on projects so they're the same height and don't break the grid
.card {
  box-shadow: 0 0 0 1px color('base-lighter');
  display: block;
  height: auto;
  margin-bottom: units(4);
  padding-bottom: units(4);
  position: relative;
  text-decoration: none;
  width: auto;

  @include at-media('tablet') {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    box-shadow: 0 0 0 1px color('primary');
  }

  &:active {
    // TODO: how to apply outline box-shadow: $focus-shadow;
  }
}

.card-link {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.card-banner {
  @include u-margin(4);

  @include at-media('tablet') {
    flex: 1 0 auto;
  }
}

.card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: units('card');
  width: 100%;
}

.card-description {
  @include u-font('heading', 'lg');
  color: color('primary');
  margin-top: 0;
}

.card-summary {
  @include typeset('body', 'sm', 5);
  color: color('ink');
  margin-bottom: 0;

  em {
    font-style: normal;
  }
}

.card-read {
  @include u-margin-top(0);
  @include u-margin-x(4);
  @include u-font('body', 4);
  color: color('primary');
  font-weight: bold;
  text-decoration: none;

  &:visited {
    color: color('primary');
  }

  svg {
    @include u-square(1.5);
    display: inline-block;
    margin-bottom: units(-1px);
    margin-left: units(0.5);
  }
}
