// Contact ------------- //

.contact {
  h2 {
    margin-top: 0;
  }

  .usa-input-buttons-inline {
    input {
      margin-bottom: 0;
    }
  }

  label {
    font-family: $font-sans;
    font-size: 17px;
    font-weight: $font-bold;
  }
}


// Privacy policy

.contact-form {
  .usa-button {
    @include media($medium-screen) {
      margin-bottom: 0;
      margin-top: 0.2em;
    }

    &:hover {
      background-color: $color-brand-dark-hover;
    }

    &:active {
      background-color: $color-brand-dark-active;
    }
  }
}

.contact-input {
  @include media($medium-screen) {
    float: left;
    margin-right: 10px;
    width: calc(100% - 186px);
  }
}

.privacy-policy {
  @include media($medium-screen) {
    border-left: 1px solid $color-brand-tint;
    padding-bottom: 3rem;
    padding-left: 3rem;
  }

  * {
    color: $color-brand-dark;
  }
}

.icon-privacy {
  margin-top: 3rem;
}
