// Filter ------------- //

.filter {
  margin-bottom: 6rem;

  > li {
    background-color: color('white');
  }

  li {
    @include at-media($small-screen) {
      display: inline-block;
    }
  }

  .usa-accordion__button {
    background-color: color('secondary-lighter');
    color: color('secondary-dark');

    p {
      margin: 0;
    }

    &:hover {
      background-color: color('secondary-dark');

      p {
        color: color('white');
      }
    }
  }

  .usa-accordion__content {
    background-color: color('secondary-lighter');
    margin-top: 2px;
    padding: 0;
  }

  .usa-button--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-brand-dark;
    color: color('secondary-dark');
    font-weight: fw('bold');

    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $color-brand-dark-hover;
      color: color('secondary-dark')-hover;
    }

    &:focus {
     //TODO: box-shadow: inset 0 0 0 2px $color-brand-dark, $focus-shadow;
    }

    &:active {
     //TODO: box-shadow: inset 0 0 0 2px $color-brand-dark-hover, $focus-shadow;
    }
  }

  [type=radio]:checked + label {
    background-color: color('secondary-dark');
    color: color('white');

    &:hover {
      background-color: color('secondary-dark')-hover;
    }
  }

  input:focus + .usa-button--outline {
    // TODO: figure this out box-shadow: $focus-shadow;
  }

  label:before {
    display: none;
  }

  input {
    display: block;
    height: 0;
    opacity: 0;
    position: relative;
  }
}

.filter-button-title {
  font-size: 24px;
}

.filter-button-message {
  @include u-font('body', '2xs');
  color: color('ink');
  font-weight: fw('normal');
}

.filter-section {
  border-bottom: 2px solid $color-white;
  clear: left;
  padding: 2.1rem 3rem;
}

.filter-category {
  @include u-font('heading', 'sm');
  font-weight: fw('bold');
  margin-bottom: 7px;
  margin-top: 7px;
}

.filter-selection {
  overflow: hidden;

  button {
    @include u-margin-y(0.5);
    @include u-margin-right(0.5);
  }
}
