// Footer ------------- //

footer {
  @include typeset('alt', '2xs');
  @include u-line-height('body', 6);
  a {
    @include u-font('alt', '2xs');
    font-weight: fw('bold') !important;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: color($color-brand-dark-hover);
    }
  }

  .logo-icon,
  .usa-footer-logo-img {
    @include u-square(7);
    float: initial;
  }
}

.footer-links {
  margin-bottom: units(2);

  a.private-link::after {
      content: "";
  }
}

.footer-logo-links {
  margin-bottom: units(2);
}

.footer-links-heading {
  @include u-font('alt', '2xs');
  font-weight: fw('normal');
  margin-bottom: units(1);

  @include at-media('tablet') {
    margin-top: 0;
  }
}

.icon-twitter {
  margin-right: units(1);
}

.usa-footer-logo-img {
  margin-left: units(1);

  @include at-media('tablet') {
    // float: right;
    margin-top: units(-7);
  }
}
