.usa-header--basic {
  .usa-logo a {
    color: color('base');
  }
}

.logo-icon {
  width: units(4);
  height: auto;

  @include at-media($theme-header-min-width) {
    width: units(5);
  }
}

.usa-logo {
  @include at-media($theme-header-min-width) {
    @include u-font('heading', 'xl');
  }
}