// Navigation ------------- //

@mixin nav-border {
  &:after {
    background-color: #247f9b;
    height: units(0.5);
    bottom: units(-0.5);
  }
}
// .usa-nav-primary a.usa-current span
// .usa-nav .usa-current > span
// Add correct current nav link style
.usa-nav {
  @include at-media($theme-header-min-width) {
    padding-top: unites(4);
  }

  a {
    &.usa-current:after {
      background-color: #fff;
    }
  }
}

// Custom styles --------- //
.usa-nav__primary-item {
  button[aria-expanded='true'] {
    background-color: #247f9b;

    span {
      border-bottom-color: #247f9b;
    }

    &:hover {
      background-color: #247f9b

      span {
        color: #fff;
      }
    }
  }


}

.usa-nav__submenu {
  background-color: #247f9b;

  a:hover {
    background-color: #fff;
  }
}

.usa-nav__primary {
  a, button[aria-expanded='true'] {
      color: #fff;
  }
}

.usa-nav__primary > .usa-nav__primary-item {
 & > a {
  @include at-media($theme-header-min-width) {
    @include u-padding-y(1.5);
  }
 }
 & > a:hover,
 & > a.usa-current {
  @include at-media($theme-header-min-width) {
    @include nav-border;
  }
  span {
    color: #247f9b;
  }
 }
}
