.agency-lists {
  @include unstyled-list();
  line-height: lh('body', 3);
  margin-top: units(2);
  margin-right: units(2);
  margin-left: units(2);
  list-style: none;

  li {
    margin-bottom: units(3);
  list-style: none;
    &:last-child {
      margin-bottom: units(3);
  list-style: none;
      @include at-media('tablet') {
        margin-bottom: 0;
      }
    }
  }

  .agency-lists {
    margin-top: 0;
    margin-right: units(2);
    margin-left: units(2);
  }
}

ul.list-columns {
  list-style: none;
  margin-right: units(2);
  margin-left: units(2);
}

.list-images {
  display: flex;
  flex-wrap: wrap;

  .list-images-item .list-images-image {
    height: auto;
    margin: 0;
    min-width: units(7);
    width: units(7);
    margin-right: units(2);
    margin-left: units(2);
    list-style: none;
  }

  .list-images-image {
    margin-right: units(2);
    margin-left: units(2);
  }
}


.list-images-item {
  align-items: right;
  display: inline-flex;
  min-height: 64px;
  width: 100%;
  list-style: none;
  margin-right: units(2);
  margin-left: units(2);
}
