.toolkits-div {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 3rem;
  justify-content: space-between;
}

.toolkit-div {
  padding-bottom: 10px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billboard-message-toolkits {
  color: #81848b;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 1.3;
  margin: 0 auto;
}

#toolkitlang > p {
  max-width: 90%;
}
//
// .download-button-icon:before {
//   content: url(../toolkits/download_icon_blue.jpg);
//   width: 40px;
//   vertical-align: middle;
// }

.toolkit-button {
  min-height:115px;
  width: 100%;
}


.download-footer {
  border: none;
  border-style: hidden !important;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
  font-size: 18px;
}

td {
  border: none;
}

table {
  border-collapse: collapse;
}

.table-border {
  border-style: hidden;
}

.tool-link {
  text-decoration: underline;
  color: #19677f;
}

.tool-link:visited {
  color: #19677f;
}

.wrapper-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 300px 0 300px;
}

//toolkit-dashboard Styling
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 150px;
  perspective: 1000px;
  margin: 10px;
  flex: 0 0 24%;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #19677f;
  border-radius: 10px;
  padding: 25px;
  padding-top: 18px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flip-card-back {
  border: solid 1px #19677f;
  color: #19677f;
  transform: rotateY(180deg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
}

.card-contents {
  font-size: 25px;
  display: contents;
}

//toolkit-info Styling

.card-toolkit {
  box-shadow: 0 0 0 1px color("base-lighter");
  display: block;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  position: relative;
  text-decoration: none;

  @include at-media-max("desktop") {
    display: flex;
    flex-direction: column;
    margin-right: 2.3%;
    height: auto;
    min-height: 200px;
  }

  @include at-media("desktop") {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 2.3%;
    height: auto;
    min-height: 750px;
  }

  &:hover {
    box-shadow: 0 0 0 1px color("primary");
  }

  &:active {
    box-shadow: $focus-shadow;
  }
}

.nav {
  margin-bottom: 18px;
  margin-left: 0;
  width: max-content;
  padding: 0px;
  list-style: none;
  background-color: #bee0ed;
  border-radius: 10px;
}

.nav>li>a {
  display: block;
}

// .nav-tabs{
//   *zoom: 1;
// }

.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: '';
}

.nav-tabs:after {
  clear: both;
}

.nav-tabs>li {
  float: left;
}

.nav-tabs>li>a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
  margin-bottom: -1px;
}

.nav-tabs>li>a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
  color: #555555;
  cursor: default;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: #19677f;
}

li {
  line-height: 18px;
}

.tab-content.active {
  display: block;
  position: relative;
  bottom: 30px;
  width: 1200px;
}

.tab-content.hide {
  display: none;
}

.tab-content2.active {
  display: block;
  position: relative;
}

.tab-content2.hide {
  display: none;
}

.workbook_link {
  color: #81848b;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
}

a {
  color: #19677f;
}

// a:visited {
//   color: black;
// }

//SECTIONS

.heading {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #14576C;
  margin-bottom: 40px;
}

.heading_content_wrapper {
  display: flex;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
}

.side-panel {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
  // width: 4000px;
  background-color: #d0d0d0;
  padding: 10px;
}

.contents_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
}

p {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
}

li {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
  line-height: 30px;
}

ul {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
}

.blue_div {
  border: 1px solid black;
  background-color: #03cab9;
  padding: 10px;
  box-shadow: 0 0 0 1px color("base-lighter");
}

table {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
}

td {
  padding-left: 30px;
}

.six-steps {
  @include at-media('tablet') {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .dashed-line {
    @include at-media('tablet') {
      position: absolute;
      z-index: -1;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 80%;
      border-top: 1px dashed #444;
    }
  }
  figure {
    padding: 15px 0;
    margin: 5px;
    text-align: center;
  }
  figcaption {
    font-size: 11px;
    line-height: 12px;
    color: #036982;
    font-weight: bold;
  }
  img {
    width: 95px;
    height: 95px;
  }
}