// Billboard ------------- //

.billboard {
  @include margin(2rem null);

  .usa-media_block-img {
    display: none;
    margin-right: 26px;
    margin-top: 21px;

    @include media($medium-screen) {
      display: block;
    }
  }

  .usa-button {
    margin-top: 0;
  }
}

.billboard-message {
  color: #81848B;
  font-family: $font-sans;
  font-size: 38px;
  font-weight: $font-bold;
  letter-spacing: $display-kerning;
  line-height: $heading-line-height;
  max-width: 720px;

  p {
    line-height: 1.3;
    margin-top: 0;
  }

  em {
    color: $color-base;
    font-style: normal;
  }
}

.billboard-img {
  @include media($medium-screen) {
    @include span-columns(2);
  }
}

.icon-gears {
  @include media($medium-screen) {
    display: block;
    float: right;
    width: 100%;
  }
}
