// Hero feature ------------- //

.usa-hero-callout {
  h2 {
    color: $color-white;
    font-weight: $font-heavy;
    letter-spacing: $display-kerning;
  }

  .usa-button {
    background-color: $color-white;
    color: $color-primary-darkest;
    font-size: inherit;

    &:hover {
      background-color: rgba($color-white, 0.8);
      color: $color-base;
    }

    &:active {
      background-color: rgba($color-white, 0.6);
    }
  }

  @include media($small-screen) {
    max-width: 350px;
  }
}
