.usa-logo-text {
  a {
    @include media($nav-width) {
      @include padding(20px 0 20px 80px);
      background-size: 68px;
    }
    @include padding(8px 0 8px 36px);
    background-image: url($logo-url);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px;
  }
}
