// Mixins ------------- //

@mixin image-circle($width) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: circle(($width / 2) at center);
  height: $width;
  width: $width;
}
